/* 首页轮播 */

#bber-talk,
#bber-talk a {
    color: var(--font-color);
}

#bber-talk {
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    background: var(--card-bg);
    padding: 0.5rem 1rem;
    border-radius: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
}

#bber-talk .item i {
    margin-left: 5px;
}

#bber-talk>i {
    font-size: 1.1rem;
}

#bber-talk .talk-list {
    max-height: 32px;
    font-size: 16px;
    overflow: hidden;
}

#bber-talk .talk-list :hover {
    color: #49b1f5 !important;
    transition: all .2s ease-in-out;
}

#bber-talk .talk-list li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#bber-talk .bber-icon {
    line-height: 25px;
    margin-left: 8px;
    transition: 0.3s;
}

#bber-talk .pass {
    -webkit-animation: 1s passing infinite;
    animation: 1s passing infinite;
}

@-webkit-keyframes passing {
    0% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes passing {
    0% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}




/* 哔哔页面 */

#bibi button {
    cursor: pointer;
    color: #fff;
    border: 0;
    margin: 20px auto;
    border-radius: 0.3125rem;
    display: block;
    padding: 0 1rem;
    height: 40px;
    font-weight: 500;
    text-align: center;
    transition: all 0.5s ease-out;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000% 1000%;
    animation: Gradient 60s linear infinite;
    outline: 0;
}

#bibi .bb-info {
    font-weight: 700;
    font-size: 18px;
}

#bibi .bb-card {
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    overflow: hidden;
    margin-top: 20px;
    transition: all 0.25s;
    user-select: none;
}

#bibi .bb-card:hover {
    box-shadow: 0 5px 10px 8px #07111b29;
    transform: translateY(-3px)
}

#bibi .card-header {
    display: flex;
    align-items: center;
}

#bibi .card-header .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}

#bibi .card-header svg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#bibi .card-header .card-time {
    font-size: 12px;
    text-shadow: #d9d9d9 0 0 1px, #fffffb 0 0 1px, #fffffb 0 0 2px;
    margin-left: 10px;
}

#bibi .card-content {
    padding: 10px 0;
    white-space: pre-wrap;
}

#bibi .card-footer {
    display: flex;
    padding-bottom: 10px;
}

#bibi .card-footer .card-label {
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 550;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgb(27 31 35 / 12%);
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
}

#article-container .card-content img {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .card-content .fancybox,
    .card-content video {
        display: inline-block;
        max-width: 40%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .card-content .fancybox,
    .card-content video {
        display: inline-block;
        max-width: 48%;
        margin: 1%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0 50%;
    }
}