/* 主页所有文章页面背景 
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, .1);
}*/

/*侧边栏页面
#aside-content>.card-widget {
    background: rgba(255, 255, 255, .8);
}*/

#aside-content>.sticky_layout>.card-widget {
    background: rgba(255, 255, 255, .8);
}

/*文章页面
.layout>#post {
    background: rgba(255, 255, 255, .9);
}*/

/*分类页面
.layout>#page {

    background: rgba(255, 255, 255, .8);
}*/

/*时间轴页面
.layout>#archive {
    background: rgba(255, 255, 255, .8);
}*/

#web_bg {
    /* background: linear-gradient(to right, #ef8e38, #108dc7); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ (左橙右蓝)*/
    /* background: linear-gradient(to right, #3B4371, #F3904F); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ (左橙右紫Dawn)*/
    /* background: linear-gradient(to right, #F56217, #0B486B); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ Sunset(左蓝右黄) */
    /* background: linear-gradient(to right, #FFE47A, #3D7EAA); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ (Opa 左蓝右黄)*/
    /* background: linear-gradient(to right, #85D8CE, #085078); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ (Venice Blue蓝绿色)*/
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ (Azur Lane)*/


}