/*配置底部样式*/
/*iconfont默认样式*/
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    }
  /* 页脚蝴蝶振翅动画 */
  .copyright svg{
    animation:butterfly 1s linear infinite alternate;
  }
  @keyframes butterfly {
    from {
      transform:rotateY(70deg);
    }
    to {
      transform:rotateY(0deg);
    }
  }