#universe {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 星空在底层避免干扰阅读 */
    z-index: -2;
}

/* 手机端禁用 */
/* @media screen and (max-width: 768px) {
    #universe {
        display: none;
    }
} */
/* 白天模式切换消失 */
[data-theme='light'] #universe{
    display: none !important;
}